{% extends 'base.html' %}
{% block content %}

<!--Galleries -->
<div class="container">
    <h1 align="center">{{ service.name }}</h1>
    <br>
    <div class="row text-center">
        <div class="col-sm-4 col-sm-push-4">
            <div class="thumbnail">
                <img src="{{ service.icon.url }}">
            </div>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-sm-12">
            {{ context_var|safe }}
            {% autoescape off %}
            {{ service.detail.html }}
            {% endautoescape %}
        </div>
        <br>
        <br>
        <div class="'col-sm-12 text-center">
            <a href="{{ return }}" class="btn btn-default btn-sm" role="button">返回</a>
        </div>
    </div>
    <br>
</div>
{% endblock content %}
